@import "reset.css";

.root-wrap {
  position: relative;
  width: 100%;
  min-height: 100%;

  /*border: 1px red solid;*/
}

/*page, section*/

.page-container {
  margin: 0 auto;
  padding-bottom: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*max-width: 1400px;
  padding: 32px 0;  */
}

.section-container-col {
  width: 100%;
  min-height: 700px;
  padding-block: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*list*/

.list-container {
  margin: 0 auto;
  margin-block: 30px;
  width: 900px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------ */

@media only screen and (max-width: 900px) {
  /* For mobile phones: (768px보다 여유 둠) */

  /* member card & img card 3열 -> 2열 */
  .list-container {
    width: 600px;
  }
  .member-container {
    width: 50%;
  }
  .list-container img {
    width: 50%;
  }

  /* service info box [축 row -> column], 
                      [text box 너비 축소] */
  .service-container {
    flex-direction: column;
  }
  /* .service-container img {
    margin-left: 40px;
    margin-right: 40px;
  } */
  .service-right {
    margin-block: 40px;
  }

  /* home : Infoteam아래글 2줄 -> 3줄 */
}
